body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:218px;
  top:107px;
  width:126px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:218px;
  top:188px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 204, 255, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78 {
  position:absolute;
  left:393px;
  top:166px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80 {
  position:absolute;
  left:393px;
  top:212px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:218px;
  top:261px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:393px;
  top:333px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 204, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u86 {
  position:absolute;
  left:218px;
  top:333px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:218px;
  top:401px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:218px;
  top:475px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 204, 255, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:393px;
  top:401px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:218px;
  top:546px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 255, 0.168627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:218px;
  top:610px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:393px;
  top:475px;
  width:126px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:281px;
  top:143px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u100_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:344px;
  top:206px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u102_seg1 {
  position:absolute;
  left:32px;
  top:-26px;
  width:8px;
  height:30px;
}
#u102_seg2 {
  position:absolute;
  left:32px;
  top:-26px;
  width:17px;
  height:8px;
}
#u102_seg3 {
  position:absolute;
  left:34px;
  top:-32px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:344px;
  top:206px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u104_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:32px;
}
#u104_seg2 {
  position:absolute;
  left:32px;
  top:20px;
  width:17px;
  height:8px;
}
#u104_seg3 {
  position:absolute;
  left:34px;
  top:14px;
  width:20px;
  height:20px;
}
#u105 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:281px;
  top:224px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u106_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u107 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:281px;
  top:297px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u108_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:344px;
  top:279px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u110_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:80px;
}
#u110_seg2 {
  position:absolute;
  left:32px;
  top:68px;
  width:17px;
  height:8px;
}
#u110_seg3 {
  position:absolute;
  left:34px;
  top:62px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-14px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:281px;
  top:369px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u112_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:344px;
  top:419px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u114_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:281px;
  top:437px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u116_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:281px;
  top:511px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u118_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:344px;
  top:493px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u120_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u121 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:281px;
  top:582px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u122_seg1 {
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u123 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:63px;
  top:128px;
  width:123px;
  height:33px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 255, 0.329411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:557px;
  top:128px;
  width:115px;
  height:60px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.317647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:557px;
  top:212px;
  width:75px;
  height:36px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:47px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:4px;
  top:253px;
  width:181px;
  height:47px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:81px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:549px;
  top:288px;
  width:115px;
  height:81px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u134 {
  position:absolute;
  left:63px;
  top:333px;
  width:118px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:51px;
}
#u136 {
  position:absolute;
  left:58px;
  top:406px;
  width:131px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:54px;
}
#u138 {
  position:absolute;
  left:553px;
  top:406px;
  width:79px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:54px;
}
#u140 {
  position:absolute;
  left:63px;
  top:469px;
  width:105px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u142 {
  position:absolute;
  left:553px;
  top:484px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:72px;
}
#u144 {
  position:absolute;
  left:63px;
  top:531px;
  width:131px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:54px;
}
#u146 {
  position:absolute;
  left:393px;
  top:601px;
  width:105px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:218px;
  top:628px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u148_seg1 {
  position:absolute;
  left:-22px;
  top:-213px;
  width:8px;
  height:217px;
}
#u148_seg2 {
  position:absolute;
  left:-22px;
  top:-213px;
  width:22px;
  height:8px;
}
#u148_seg3 {
  position:absolute;
  left:-15px;
  top:-219px;
  width:20px;
  height:20px;
}
#u149 {
  position:absolute;
  left:-68px;
  top:-112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:519px;
  top:419px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u150_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:18px;
  height:8px;
}
#u150_seg2 {
  position:absolute;
  left:6px;
  top:-298px;
  width:8px;
  height:292px;
}
#u150_seg3 {
  position:absolute;
  left:-175px;
  top:-298px;
  width:189px;
  height:8px;
}
#u150_seg4 {
  position:absolute;
  left:-180px;
  top:-304px;
  width:20px;
  height:20px;
}
#u151 {
  position:absolute;
  left:-40px;
  top:-242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:218px;
  top:125px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u152_seg1 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:8px;
  height:28px;
}
#u152_seg2 {
  position:absolute;
  left:-32px;
  top:16px;
  width:18px;
  height:8px;
}
#u152_seg3 {
  position:absolute;
  left:-39px;
  top:10px;
  width:21px;
  height:20px;
}
#u153 {
  position:absolute;
  left:-68px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:519px;
  top:184px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u154_seg1 {
  position:absolute;
  left:17px;
  top:-30px;
  width:8px;
  height:34px;
}
#u154_seg2 {
  position:absolute;
  left:17px;
  top:-30px;
  width:21px;
  height:8px;
}
#u154_seg3 {
  position:absolute;
  left:24px;
  top:-36px;
  width:21px;
  height:20px;
}
#u155 {
  position:absolute;
  left:-29px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:519px;
  top:230px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u156_seg1 {
  position:absolute;
  left:24px;
  top:-10px;
  width:21px;
  height:20px;
}
#u157 {
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:218px;
  top:279px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u158_seg1 {
  position:absolute;
  left:-22px;
  top:-6px;
  width:8px;
  height:10px;
}
#u158_seg2 {
  position:absolute;
  left:-33px;
  top:-6px;
  width:19px;
  height:8px;
}
#u158_seg3 {
  position:absolute;
  left:-40px;
  top:-12px;
  width:21px;
  height:20px;
}
#u159 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:218px;
  top:351px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u160_seg1 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:17px;
}
#u160_seg2 {
  position:absolute;
  left:-37px;
  top:5px;
  width:22px;
  height:8px;
}
#u160_seg3 {
  position:absolute;
  left:-44px;
  top:-1px;
  width:21px;
  height:20px;
}
#u161 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:519px;
  top:351px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u162_seg1 {
  position:absolute;
  left:11px;
  top:-26px;
  width:8px;
  height:30px;
}
#u162_seg2 {
  position:absolute;
  left:11px;
  top:-26px;
  width:19px;
  height:8px;
}
#u162_seg3 {
  position:absolute;
  left:16px;
  top:-32px;
  width:21px;
  height:20px;
}
#u163 {
  position:absolute;
  left:-35px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:519px;
  top:419px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u164_seg1 {
  position:absolute;
  left:17px;
  top:-4px;
  width:8px;
  height:22px;
}
#u164_seg2 {
  position:absolute;
  left:17px;
  top:10px;
  width:17px;
  height:8px;
}
#u164_seg3 {
  position:absolute;
  left:20px;
  top:4px;
  width:21px;
  height:20px;
}
#u165 {
  position:absolute;
  left:-29px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:519px;
  top:493px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u166_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:21px;
  height:20px;
}
#u167 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:344px;
  top:628px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u168_seg1 {
  position:absolute;
  left:35px;
  top:-10px;
  width:21px;
  height:20px;
}
#u169 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:218px;
  top:564px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:16px;
  height:8px;
}
#u170_seg1 {
  position:absolute;
  left:-16px;
  top:-4px;
  width:8px;
  height:11px;
}
#u170_seg2 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:16px;
  height:8px;
}
#u170_seg3 {
  position:absolute;
  left:-31px;
  top:-7px;
  width:21px;
  height:20px;
}
#u171 {
  position:absolute;
  left:-62px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:218px;
  top:493px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u172_seg1 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:11px;
}
#u172_seg2 {
  position:absolute;
  left:-50px;
  top:-1px;
  width:16px;
  height:8px;
}
#u172_seg3 {
  position:absolute;
  left:-57px;
  top:-7px;
  width:21px;
  height:20px;
}
#u173 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:218px;
  top:419px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u174_seg1 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:8px;
  height:21px;
}
#u174_seg2 {
  position:absolute;
  left:-29px;
  top:9px;
  width:15px;
  height:8px;
}
#u174_seg3 {
  position:absolute;
  left:-36px;
  top:3px;
  width:21px;
  height:20px;
}
#u175 {
  position:absolute;
  left:-68px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
